.logo,.menu,.links,.top{
    z-index: 100;
}
/* topbar */
.logo{
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.6rem;
    border: 2px solid black;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.logo:hover{
    color: gray;
    border: 2px solid gray;
}

.menu{
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.text{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out all;
}
.text:hover{
    border-bottom: 2px solid black;
}

/* footer  */
.links{
    position: fixed;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.icons{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    color: white;
    padding: 0.8rem;
    text-align: center;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-out;
}
.icons:hover{
    width: 140px;
    background-color: black;
}
.name{
    position: absolute;
    top: 2px;
    left: 50px;
    font-size: 1rem;
}

.icon{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    color: white;
    padding: 0.6rem;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.icon:hover{
    background-color: black;
}
.svg{
    float: left;
    height: 24px;
    width: 24px;
}

/* media Queries  */
@media screen and (max-width:540px){
    .logo{
        top: 20px;
        left:20px;
        font-size: 1rem;
        padding: 0.5rem;
    }
    .menu{
        top: 30px;
        right: 20px;
        gap: 0.5rem;
    }
    .links{
        bottom: 20px;
        left: 20px;
        width: 40px;
    }
    .top{
        bottom: 20px;
        right: 20px;
        width: 40px;
    }
    .name{
        top: 8px;
        font-size: 1rem;
    }
    .text{
        font-size: 1rem;
    }
    .icon{
        padding: 0.5rem;
        border-radius: 1rem;
    }
    .icons{
        padding: 0.6rem;
        border-radius: 1rem;
        width: 44px;
        height: 44px;
        line-height: 30px;
    }
    .svg{
        height: 24px;
        width: 24px;
    }
}

@media (min-width:540px) and (max-width:900px){
    .logo{
        top: 30px;
        left:30px;
        font-size: 1.2rem;
        padding: 0.8rem;
    }
    .menu{
        right: 30px;
        gap: 0.5rem;
    }
    .text{
        font-size: 1.2rem;
    }
    .name{
        top: 8px;
        font-size: 1rem;
    }
    .links{
        bottom: 30px;
        left: 30px;
        width: 50px;
    }
    .top{
        bottom: 30px;
        right: 30px;
        width: 50px;
    }
    .icons{
        padding: 0.6rem;
        border-radius: 1rem;
        width: 44px;
        height: 44px;
        line-height: 30px;
    }
    .icon{
        padding: 0.6rem;
        border-radius: 1rem;
    }
    .svg{
        height: 24px;
        width: 24px;
    }
}